.snakemake
.DS_Store
artic-ncov2019
rampart/annotations
*.alignreport.er
*.alignreport.txt
*.minion.log.txt
*.nCoV-2019_1.vcf
*.nCoV-2019_2.vcf
*.primertrimmed.rg.sorted.bam
*.primertrimmed.rg.sorted.bam.bai
*.sorted.bam
*.sorted.bam.bai
*.trimmed.rg.sorted.bam
*.trimmed.rg.sorted.bam.bai
*.consensus.fasta
*.coverage_mask.txt
*.coverage_mask.txt.nCoV-2019_1.depths
*.coverage_mask.txt.nCoV-2019_2.depths
*.fail.vcf
*.merged.vcf
*.muscle.in.fasta
*.pass.vcf.gz
*.pass.vcf.gz.tbi
*.preconsensus.fasta
*.primers.vcf
*.primersitereport.txt
annotations/
logs/
trash/
package-lock.json
package.json
pangolin.egg-info/
rampart/rampart_log.err
rampart/rampart_log.out
