*.alignreport.er
*.alignreport.txt
*.consensus.fasta
*.coverage_mask.txt
*.coverage_mask.txt.nCoV-2019_1.depths
*.coverage_mask.txt.nCoV-2019_2.depths
*.fail.vcf
*.merged.vcf
*.minion.log.txt
*.muscle.in.fasta
*.nCoV-2019_1.vcf
*.nCoV-2019_2.vcf
*.pass.vcf.gz
*.pass.vcf.gz.tbi
*.preconsensus.fasta
*.primers.vcf
*.primersitereport.txt
*.primertrimmed.rg.sorted.bam
*.primertrimmed.rg.sorted.bam.bai
*.sorted.bam
*.sorted.bam.bai
*.trimmed.rg.sorted.bam
*.trimmed.rg.sorted.bam.bai
.DS_Store
.snakemake
artic-ncov2019
logs/
package-lock.json
package.json
pangolin.egg-info/
rampart/annotations
rampart/rampart_log.err
rampart/rampart_log.out
trash/
artic-ncov2019/primer_schemes/nCoV-2019/V3/nCoV-2019.reference.fasta.fai
rampart/
