[submodule "artic-ncov2019"]
	path = artic-ncov2019
	url = https://github.com/artic-network/artic-ncov2019.git
[submodule "pangolin"]
	path = pangolin
	url = https://github.com/cov-lineages/pangolin.git
